.modal_image {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 100px; /* Location of the content container */
    color: #000;
  }

  #modal_image_id{
    width: 1000px;

    height: 100%;
  }
  
  /* Modal content */
  .modal-content_modal_image {
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: 60%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px; /* Optional. Rounds container corners */
  }
  
  .modal-flex {
    display: flex;
    height: 100%; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .modal-info {
    background-color: #888;
    border: 1px solid #888;
  }
  
  /* Close button */
  .close_image_modal {
    color: #aaaaaa;
    float: right; /* Positioned to the right of the parent container whichever size it is */
    font-size: 25px;
    font-weight: bold;
  }
  
  .close_image_modal:hover,
  .close_image_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* .row_modal_images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  /* .column_modal_images {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column_modal_images img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  } */ 
  
  /* Responsive layout - makes a two column_modal_images-layout instead of four column_modal_imagess */
  /* @media screen and (max-width: 800px) {
    .column_modal_images {
      flex: 50%;
      max-width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two column_modal_imagess stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column_modal_images {
      flex: 100%;
      max-width: 100%;
    }
  } */

  .row_modal_image{
    width: 100%;
    display: flex;
    
    justify-content: center;
    margin: 0 auto;
  }
  .col-50_modal_image{
    width: 50%;
    text-align: center;
    height: 50px;
  }
  .img_modal_image{max-width: 350px; max-height: 320px; }
  /* .img2{
    max-width: 290px;
    height: 217px;
  } */
  #modal_image_id{
    padding-bottom: 35px;
  }
  .rel_modal_image{position:relative;}


  /* .ant-modal {
    border-radius: 50%;
    /* Only border-radius here */
  
  
 

  /* .my-custom-class .ant-modal-confirm-btns .ant-btn{
    float: right;
    margin-left: 10px;
  } */

  .col-50_modal_image p{font-size: 20px; font-style: normal; color: rgb(255, 255, 255);}
